* {
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
}

#banner-content {
  background-color: #4d7f71;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
}

#left {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;

  /*overflow: auto;*/
}
#right {
  background-color: #f8e9d5;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;

  /*overflow: auto;*/
}

#dogImage {
  margin-top: 70px;
  width: 100%;
}
#dogWomenImage {
  width: 100%;
}

.textParagraph {
  margin-right: 50px;
  margin-left: 25px;
}

.sectionText {
  word-spacing: 0;
  margin: 10px 0;
  text-align: center;
  color: #384ca1;
  font-size: 48px;
  width: 100%;
  font-family: "Roboto Slab", serif;
  /*line-height: 100%;*/
}

.mainText {
  text-align: justify;
  word-spacing: -2px;
  color: black;
  font-size: 23px;
  width: 90%;
  margin-left: 30px;
  font-family: "Roboto Slab", serif;
}

.rightSidetext {
  text-align: justify;
  word-spacing: -2px;
  color: black;
  /*width: 90%;*/
  margin: 0 50px;
  margin-top: 80px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.rightSidetext2 {
  margin: 0 50px;
  text-align: justify;
  word-spacing: -2px;
  color: black;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.treats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 60%;
}
.dogCat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
}

.sectionTextRight {
  word-spacing: 0;
  text-align: center;
  color: #384ca1;
  font-size: 40px;
  margin: 20px 0;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

/*@media only screen and (min-width: 300px) {
  .sectionText {
    font-size: 14px;
  }
  .sectionTextRight {
    font-size: 14px;
  }
  .mainText {
    font-size: 10px;
  }
  .sectionTextRight {
    font-size: 10px;
  }
  .rightSidetext {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0;
  }
  .rightSidetext2 {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0;
  }
  .textParagraph {
    text-align: center;
    margin-right: 40px;
    margin-left: -35px;
  }
}*/

/*@media screen and (min-width: 480px) {
  .sectionText {
    font-size: 25px;
  }
  .sectionTextRight {
    font-size: 25px;
  }
  .mainText.sectionTextRight {
    font-size: 20px;
  }
}*/

@media screen and (max-width: 768px) {
  .sectionText {
    font-size: 14px;
  }
  .mainText.sectionTextRight {
    font-size: 10px;
  }
  img {
    width: 25%;
  }
}
