* {
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
}
#left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}
#right {
  background-color: #f8e9d5;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

#dogImage {
  margin-top: 50px;
  /*margin-right: 5px;*/
  width: 100%;
}
#dogWomenImage {
  /*margin-right: 5px;*/
  width: 100%;
}

.textParagraph {
  margin-right: 50px;
  margin-left: 25px;
}

.sectionText {
  word-spacing: 0;
  margin: 10px 0;
  text-align: center;
  color: #384ca1;
  font-size: 48px;
  width: 100%;
  font-family: "Roboto Slab", serif;
  /*line-height: 100%;*/
}

.mainText {
  text-align: justify;
  word-spacing: -2px;
  color: black;
  font-size: 25px;
  width: 90%;
  margin-left: 35px;
  font-family: "Roboto Slab", serif;
}

.rightSidetext {
  text-align: justify;
  word-spacing: -2px;
  color: black;
  /*width: 90%;*/
  margin: 0 50px;
  margin-top: 50px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.rightSidetext2 {
  margin: 0 50px;
  text-align: justify;
  color: black;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.treats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 60%;
}
.dogCat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.sectionTextRight {
  word-spacing: 0;
  text-align: center;
  color: #384ca1;
  font-size: 40px;
  margin: 20px 0;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

@media screen and (max-width: 768px) {
  .sectionText {
    font-size: 20px;
  }
  .mainText.sectionTextRight {
    font-size: 10px;
  }
  img {
    width: 25%;
  }
}
